---
const today = new Date();
---

<footer class="container">
  <div class="flex flex-col text-lg gap-8">
    <div class="flex flex-row" data-uk-grid>
      <div>
        <a href="#" class="logo">Recipedia</a>
      </div>
      <div class="uk-flex uk-flex-middle uk-flex-right@s">
        <div data-uk-grid class="uk-child-width-auto uk-grid-small">
          <div>
            <a
              href="https://www.facebook.com/"
              data-uk-icon="icon: facebook; ratio: 0.8"
              class="uk-icon-button facebook"
              target="_blank"></a>
          </div>
          <div>
            <a
              href="https://www.instagram.com/"
              data-uk-icon="icon: instagram; ratio: 0.8"
              class="uk-icon-button instagram"
              target="_blank"></a>
          </div>
          <div>
            <a
              href="mailto:info@blacompany.com"
              data-uk-icon="icon: twitter; ratio: 0.8"
              class="uk-icon-button twitter"
              target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-between" data-uk-grid>
      <div>
        <ul class="uk-list uk-text-small">
          <li><a class="uk-link-text" href="#">Presentations</a></li>
          <li><a class="uk-link-text" href="#">Professionals</a></li>
          <li><a class="uk-link-text" href="#">Stores</a></li>
        </ul>
      </div>
      <div>
        <ul class="uk-list uk-text-small">
          <li><a class="uk-link-text" href="#">Webinars</a></li>
          <li><a class="uk-link-text" href="#">Workshops</a></li>
          <li><a class="uk-link-text" href="#">Local Meetups</a></li>
        </ul>
      </div>
      <div>
        <ul class="uk-list uk-text-small">
          <li><a class="uk-link-text" href="#">Our Initiatives</a></li>
          <li><a class="uk-link-text" href="#">Giving Back</a></li>
          <li><a class="uk-link-text" href="#">Communities</a></li>
        </ul>
      </div>
      <div>
        <ul class="uk-list uk-text-small">
          <li><a class="uk-link-text" href="#">Contact Form</a></li>
          <li><a class="uk-link-text" href="#">Work With Us</a></li>
          <li><a class="uk-link-text" href="#">Visit Us</a></li>
        </ul>
      </div>
    </div>
    <div class="uk-margin-medium-top uk-text-small uk-text-muted">
      <div>
        Made by
        <a class="uk-link-muted" href="" target="_blank">Ahmad Aizuddin</a>
      </div>
    </div>
  </div>
</footer>

<style>
  .logo {
    font-size: 1.5625rem;
    font-family: "LillyBelle", cursive;
    color: #eb4a36;
    /* 1 */
    text-decoration: none;
    font-weight: 400;
  }

  /* Hover + Focus */
  .logo:hover,
  .logo:focus {
    color: #eb4a36;
    outline: none;
    /* 1 */
    text-decoration: none;
  }

  .logo-inverse {
    display: none;
  }
</style>
